/* Reset Default */
* {
  /* every element the different */
  margin: 0;
  padding: 0;

  /* box-sizing: content-box; */
  box-sizing: border-box;
}

body {
  margin-left: 10px;
}

/* Section1 */
.box {
  width: 200px;
  padding: 20px;
  border: 1px solid;

  /* problem */
  height: 50px;

  /* fixing */
  height: min-content;
}

.mt-20 {
  margin-top: 20px;
}

/* Section2 */
.awesome {
  /* perubahan bentuk text */
  text-transform: uppercase;

  /* besaran text */
  font-size: 5rem;

  /* ketebalan text */
  font-weight: 700;

  /* spacing tinggi text */
  line-height: 1;
  border: 5px solid;
  padding: 2rem;

  /* Intrinsic dan Extrinsic */
  /* problem */
  width: 320px;

  /* fixing */
  width: min-content;
}

[data-element] {
  /* warna */
  color: darkcyan;
}

[data-element="awesome"] {
  color: green;
}

/* Section3 */
article p:first-of-type {
  color: red;
  font-size: 1.5em;
}

/* Section4 */
.test {
  /* text berada di tengah */
  text-align: center;
  border: 1px solid;
  padding: 10px;
  width: 150px;
}

.block {
  display: block;
}

/* Section6 */
.box-1 {
  /* panjang */
  width: 150px;

  /* lebar */
  height: 150px;
}

.box-2 {
  width: 100px;
  height: 100px;
}

.bg-green {
  /* warna latar belakang */
  background-color: darkgreen;
}

.bg-red {
  background-color: darkred;
}

/* margin */
.mt-10 {
  /* pergeseran dari titik 0 ke arah bawah */
  margin-top: 10px;
}

.mr-10 {
  /* pergeseran dari titik border ke arah kanan */
  margin-right: 10px;
}

.mb-10 {
  /* pergeseran dari titik border ke arah bawah */
  margin-bottom: 10px;
}

.ml-10 {
  /* pergeseran dari titik 0 ke arah kanan */
  margin-left: 10px;
}

.-ml-10 {
  /* pergeseran dari titik 0 ke arah kiri */
  margin-left: -10px;
}

.inline-block {
  /* digunakan langsung di elementnya */
  /* ada spacing defaultnya ketika disamping */
  display: inline-block;
}

.flex {
  /* digunakan di parrent element */
  /* tanpa spacing ketika disamping */
  display: flex;
}

/* padding */
.pt-10 {
  /* pergeseran dari titik border atas ke arah content */
  padding-top: 10px;
}

.pr-10 {
  /* pergeseran dari titik border kanan ke arah content */
  padding-right: 10px;
}

.pb-10 {
  /* pergeseran dari titik border bawah ke arah content */
  padding-bottom: 10px;
}

.pl-10 {
  /* pergeseran dari titik border kiri ke arah content */
  padding-left: 10px;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* checking batas margin */
.check-margin {
  width: 160px;
  height: 150px;
  border: 1px solid red;
}

/* positioning */
.relative {
  /* parent element */
  position: relative;
}

.absolute {
  /* child element */
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

/* learning position */
.box-header {
  width: 100%;
  height: 25px;
  background-color: darkgrey;
  text-align: center;
  line-height: 25px;
}

.box-back-top {
  background-color: black;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
  color: white;
  line-height: 7.5px;
  text-align: center;
}

/* position fixed */
.back-to-top {
  background-color: darkcyan;
  width: 50px;
  height: 75px;
  border-radius: 100px;
  bottom: 15px;
  right: 10px;
}

.text-white {
  color: white;
}

.text-2xl {
  font-size: 30px;
}

.center {
  left: 18px;
  bottom: 25px;
}

.text-decoration-none {
  text-decoration: none;
}

/* scroll smooth */
html {
  scroll-behavior: smooth;
}

/* inheritance */
.inherit {
  font-weight: 500;
}

.inherit strong {
  font-weight: inherit;
}

/* initial */
.initial strong {
  font-weight: initial;
}

/* unset */
.unset {
  color: unset;
}

.unset strong {
  font-weight: unset;
}

/* color */
.w-full {
  width: 100%;
}

.h-50 {
  height: 50px;
}

.bg-blue-hex {
  background-color: #155263;
}

.bg-darkorange-rgb {
  background-color: rgb(255, 111, 60);
}

.bg-orange-hsl {
  background-color: hsl(29, 100%, 62%);
}

.bg-yellow {
  /* #ffc93c like example the name (not same) */
  background-color: gold;
}

.bg-gradient {
  background: linear-gradient(
    to right bottom,
    rgb(236, 72, 153),
    rgb(239, 68, 68),
    rgb(234, 179, 8)
  );
}

/* pseudo elements (::) */
.first::first-letter {
  font-size: 25px;
  font-weight: 500;
  color: darkorange;
}

.mix {
  height: 15px;
  margin-left: 25px;
  text-align: center;
  line-height: 30px;
}

.mix::before {
  content: "";
  background-image: url("../assets/profile.jpg");
  background-size: cover;
  width: 2.2em;
  height: 2.2em;
  position: absolute;
  left: 5px;
}

.mix::after {
  content: "";
  background-image: url("../assets/profile.jpg");
  background-size: cover;
  width: 2.2em;
  height: 2.2em;
  position: absolute;
  right: 5px;
}

.line::first-line {
  color: darkorange;
}

summary {
  font-weight: 700;
  margin-bottom: 5px;
}

summary::marker {
  color: darkgreen;

  /* symbol + */
  content: "\002B"" ";
}

details[open] summary::marker {
  /* symbol - */
  content: "\2212"" ";
}

.paragraph {
  margin-left: 13px;
  margin-bottom: 5px;
}

::selection {
  color: white;
  background-color: darkgreen;
}

input {
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid #155263;
}

input::placeholder {
  color: rgba(21, 82, 99, 0.8);
}

/* psuedo classes (:) */
/* interactive-states */
input:focus {
  outline: 1px solid #155263;
  outline-offset: 1px;
  box-shadow: 0 0 10px #155263;
}

.btn {
  width: max-content;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: #155263;
}

.btn {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:hover {
  background: linear-gradient(
    to right bottom,
    rgb(236, 72, 153),
    rgb(239, 68, 68),
    rgb(234, 179, 8)
  );
  cursor: pointer;
}

.click:active {
  transform: scale(0.8);
}

.click:focus {
  background-color: darkgreen;
}

#box-model:target {
  text-decoration: line-through;
  color: #155263;
}

/* historical-states */
a:link {
  color: #155263;
}

a:visited {
  color: darkmagenta;
}

/* form-states */
.my-10 {
  margin: 10px 0;
}

button {
  color: white;
  border: none;
  padding: 10px;
}

button:enabled {
  background-color: #155263;
  cursor: pointer;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

button:disabled:hover {
  box-shadow: none;
}

input:checked {
  accent-color: #155263;
}

input:valid {
  border-color: darkgreen;
}

input:invalid {
  box-shadow: none;
  border-color: darkred;
}

input:in-range {
  border-color: darkgreen;
}

input:required {
  color: #155263;
}

input:optional {
  color: #155263;
}

textarea:empty {
  border: none;
  border-radius: 5px;
  background-color: #155263;
  color: white;
  padding: 5px;
}

textarea:focus {
  outline: none;
  border: 1px dashed white;
}

/* layouts */
/* flex */
.container {
  width: 80%;
  margin: auto;
}

.flex {
  display: flex;

  /* default direction */
  /* flex-direction: row; */
}

.main {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 20px;
  height: 500px;
  background-color: #155263;
  flex: 2;
}

.sidebar {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 20px;
  height: 300px;
  background-color: #ef4444;
  flex: 1;
}

/* grid */
.grid {
  display: grid;

  /* jarak antara element */
  gap: 10px;

  color: white;
  text-align: center;
  line-height: 100px;
}

.grid :first-child {
  grid-row: 1;
  grid-column: 1/5;
}

.grid-box {
  background-color: #155263;
  width: 100%;
  height: 200px;
}

.grid-box-1 {
  background-color: #155263;
  width: 100%;
  height: 100px;
}

.grid-box-2 {
  background-color: darkcyan;
  width: 100%;
  height: 100px;
}

.mb-50 {
  margin-bottom: 50px;
}
