/* Reset Value Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4a5057;
  font-family: Helvetica, sans-serif;
}

.container {
  width: 750px;
  background-color: whitesmoke;
  margin: 25px auto;
  padding: 25px;
  border-radius: 15px;
}

.container p {
  margin: 10px 0;
  font-weight: 200;
  font-style: italic;
  color: gray;
  font-size: 16px;
}

.form-control {
  display: inline-block;
  width: 250px;
  padding: 10px 20px;
  padding-right: 25px;
  border-radius: 125px;
  border: 1px solid darkcyan;
}

.form-control:focus {
  outline: none !important;
  border: 1px solid darkcyan;
  box-shadow: 0 0 10px #4589d1;
}

.btn {
  display: inline-block;
  min-width: 100px;
  padding: 10px 15px;
  border-radius: 50px;
  color: white;
  border: none;
  font-size: 15px;
  transition: all 0.5s ease-in;
}

.dark-cyan {
  background-color: darkcyan;
}

.dark-red {
  background-color: darkred;
}

.dark-green {
  background-color: darkgreen;
}

.btn:hover {
  cursor: pointer;
  background-color: #4589d1;
}

.mt-25 {
  margin-top: 25px;
}

.list {
  margin-left: 20px;
}

.list li {
  margin: 10px 0;
}

.completed {
  color: #4a5057;
  text-decoration: line-through;
}

.data:hover {
  cursor: pointer;
  color: #4589d1;
}
